<%= form_for(@quiz) do |f| %>

  <div class="field">

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <%= a= @quiz.questions %>

  <% f.fields_for @quiz.questions.first do |builder| %>
  <p>
    
    <%= builder.label :content, "Question"%> <br />
    <%= builder.text_area :content, :rows => 3 %>
  </p>

  <% end %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
