<div class="fields">

  <%= f.label :content, "Question" %>
  <% if @quiz.id.nil?%>
  <%= link_to_remove_fields "remove question", f %><br />
  <%end%>
  <%= f.text_area :content, :rows => 3, :class => "quiz-input-class" %><br />

<%= f.fields_for :options do |builder| %>
  <%= render 'option_fields', :f => builder %>
  
<% end %>
<p><%= link_to_add_fields "Add Answer", f, :options %></p>

</div>