<% @quizzes.each do |quiz|%>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= quiz.name %>
</p>
<ol>
<% for question in quiz.questions %>
	<li><b> <%= question.content%></b></li>
	<ul>
	<% for option in question.options %>
		<li> <%= option.description %></li>
	<%end%>
	</ul>

<%end%>
</ol>




<%= link_to 'Edit', edit_quiz_path(quiz) %> |
<%= link_to 'Destroy', quiz, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', quizzes_path %>
<% end %>