<% provide(:title, @title) %>
<legend>Quiz <%= @quiz.name.capitalize %></legend>
<ol>
<div class="panel panel-default">
<% if isStudent? &&  current_user.attempts.where(:quiz_id => @quiz.id).any?%>

  
   <div class="panel-heading">
    You have attempted this quiz. Your score is  <%= current_user.attempts(:quiz_id => @quiz.id).first.marks %> and class average is <%= quiz_average(@quiz) %>
    </div>
    
    <%end%>

<%= simple_form_for @quiz, :url => attempt_quiz_path(@quiz) do |f| %>
  <fieldset>
    
    <div class="panel-body">
    <ol>
    <% @quiz.questions.each do |question| %>
      <%= simple_fields_for "questions[#{question.id}]" do |builder| %>
        
          <li>
            <p><%= question.content %></p>
            
             <%= builder.input :option, :collection => question.options, :label_method => :description, :as => :radio_buttons ,:item_wrapper_class => 'inline'%>
          </li>
      <% end %>
    <% end %>
  </ol>
  
    <div>

			<% if isStudent? && !current_user.attempts.where(:quiz_id => @quiz.id).any? %>
      <div class="btn-group">
				<%= f.submit "Submit Quiz", :class => "btn btn-info" %>
				<%= link_to 'Back', quizzes_path, class: "btn btn-info" %>
       </div> 
			<%end%>

		    <% if isProf? %>
          <div class="btn-group">
    				<%= link_to 'Edit', edit_quiz_path(@quiz) , class: "btn btn-info" %> 
    				<%= link_to 'Destroy', @quiz, :confirm => 'Are you sure?', :method => :delete ,class: "btn btn-info"%> 
            <%= link_to 'Back', quizzes_path, class: "btn btn-info" %>
          </div>
			   <% end %>

			

	</div>
  </div>  
  </fieldset>
<% end %>

</div>

