
<% provide(:title, @title) %>
<% if isAdmin?%>
<h1><%=@title%></h1> <%= link_to "Create New Professor", '/new_prof', class: "btn btn-primary"%>
<%end%>
<% if !@users.nil? %>

<%= will_paginate %>

  <ul class="users">
    
      <%= render @users%>
    
  </ul>

<%= will_paginate %>

<%end%>
<!-- <table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<br />

