
<% provide(:title, @title) %>
<h1><%=@title%></h1> <% if isProf? %> <%= link_to "Create New Course", '/new_course', class: "btn btn-info"%><%end%>
<%= will_paginate %>

  <ul class="courses">
    
      <%= render @courses%>
    
  </ul>

<%= will_paginate %>







