

<table>
	<tr>
		<td>
			<h3> <%= " " + @course.name %></h3>
		</td>

		<td>
			<% if isProf? %>
 			<%= link_to 'Edit', edit_course_path(@course), :class => "btn btn-info" %>
 			<% end %>
 		</td>	 
</table>


<div class="btn-group">
        <%= link_to students_course_path(@course), :class => "btn btn-info" do %>
        Students
        <span class="badge"> <%=@course.students.count%></span>
        <% end %>
        <%= link_to quizzes_course_path(:id => @course.id), :class => "btn btn-info" do %>
        Quizzes
        <span class="badge"> <%=@course.quizzes.count%></span>
        <% end %>
</div>

