<p id="notice"><%= notice %></p>

<table>
	<tr>
		<td>
			<%= @course.name %>
		</td>

		<td>
			<% if isProf? %>
 			<%= link_to 'Edit', edit_course_path(@course), :class => "btn btn-primary" %>
 			<% end %>
 		</td>	 
</table>
<a href="<%= students_course_path(@course) %>"> Students(   <%= @course.students.count %> ) </a> |
<!-- <a href="<%= quizzes_course_path(:id => @course.id) %>"> Quizzes(   <%= @course.quizzes.count %> ) </a> -->
<%= link_to("Quizzes(#{@course.quizzes.count})",quizzes_course_path(:id => @course.id))%>

